@{
    ViewBag.Title = "ArticleView";
    
}

@section Styles{
                    
        @Styles.Render("~/Styles/ArticleStyleSheet.css")
                }
@section inter{       
        
        <div id = "articleContent">@ViewBag.article.head</div>
        <div id = "articleAuthor">@ViewBag.author.name</div>
        <div id = "articleContent">@ViewBag.article.content</div>
        <div id = "articleDate">@ViewBag.article.date</div>
    }